astroid==2.3.3
certifi==2020.4.5.1
cycler==0.10.0
dirsync==2.2.4
fitdecode==0.6.0
fitparse==1.1.0
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.2
psutil==5.7.0
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
pyudev==0.22.0
six==1.14.0
wrapt==1.11.2
